/*@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;        
  }
  .page {
    margin: 0;
    border: 0;
    width: initial;
    min-height: initial;
    background: #fff;
    page-break-after: always;
  }
}*/

#page {
  font-family: "Times New Roman", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, Times, serif;
  font-size: 16pt;
  width: 70%;
  padding: 10% 15% 10% 15%;
}

/* general */

.perso, 
.perso-d,
.char_list { font-variant: small-caps }

.display_title, 
.display_act, 
.display_scene, 
.char_list, 
.perso,
.perso-d { text-align: center }

.line, .didas { margin-bottom: 20pt}

/* specific */

.display_title {

}
.display_act {
	
}
.display_scene {
	
}
.char_list {
  margin-bottom: 32pt;
}

.didas { 
  font-style: italic;
  color: #555;
  font-variant: none
}
.line {
  text-align: center;
}

.perso + .didas:before, .perso-d + .didas:before {
  content:",\00a0";
}

.repliq {
  display: block; 
  text-align:left; /* justify ? */
  white-space: pre;
}

.repliq .didas {
  margin:0
}