@charset "utf-8"

@page {
  size: A4 portrait;
  margin: 119mm 119mm 132mm 3.67mm;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;       
  }

  #page {
    margin: 0;
    border: 0;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow:0;
    width: initial;
    min-height: initial;
    background: #fff;
    page-break-after: always;
  }
}
@media screen {
  #page {
    font-family: "Courier Prime", "Courier", "Courier Final Draft", "Courier New";
    font-size: 14pt;
    width: 80%;
    padding: 10%
  }
}

/* general */

.display_title, 
.display_act, 
.display_scene, 
.perso, 
.perso-d,
.char_list,
.didas { text-transform: uppercase }

.line, .didas { margin-bottom: 20pt}

.display_title, .display_scene, .display_act {
  font-weight: inherit;
  font-size: inherit;
  margin: inherit;
  margin: 12pt 0 12pt 0;
}

/* specific */

.display_title {
  text-decoration: underline;
  font-size: inherit;
  text-align: center;
}
.display_act {
	
}
.display_scene {
	
}
.char_list {
  margin-bottom: 32pt;
}

.didas { 

}
.line {
  width: 75%;
  margin-top: 0;
  margin-bottom: 18pt;
  margin-left: 17%;
  margin-right: 17%;
  clear: both;
}
.perso, .perso-d {
  margin-right: 1in;
  margin-left: 25%;
}

.perso, .perso + .didas, .perso-d, .repliq {
  display:block;
}
.perso-d + .didas {
  margin-left: 20%;
}
.perso-d + .didas::before {
  content:"("
}
.perso-d + .didas::after {
  content:")"
}

.repliq {
  max-width: 70%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15%;
  white-space: pre-wrap;
  orphans: 2;
  widows: 2;
}

.repliq .didas {
  margin:0
}



