@charset "utf-8"

@page {
  size: A4 portrait;
  margin: 119mm 119mm 132mm 3.67mm; /*  margin: 350mm 280mm 370mm 420mm; */
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;       
  }

  #page {
    margin: 0;
    border: 0;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow:0;
    width: initial;
    min-height: initial;
    background: #fff;
    page-break-after: always;
  }
}
@media screen {
  #page {
    font-family: "Times New Roman", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, Times, serif;
    font-size: 16pt;
    width: 75%;
    padding: 10%
  }
}


/* general */

.perso,
.perso-d, 
.display_char { font-variant-caps: small-caps }

.display_title, 
.display_act, 
.display_scene, 
.display_char, 
.perso { text-align: center }

.didas { margin-bottom: 20pt}

/* specific */

.display_title {

}
.display_act {
	
}
.display_scene {
	
}
.display_char {
  margin-bottom: 32pt;
}

.didas { 
  font-style: italic;
  color: #555555;
  font-variant-caps: none;
}
.line {
  text-align:left; /* justify ? */
  line-height: 18pt;
}
.line::first-letter {
  padding-left: 20pt;
}

.perso::after {
  content:".  "
}
.perso-d + .didas:before {
  content:",\00a0";
}

.repliq:before {
  content:" – "
}
.repliq .didas {
  margin:0
}

