/*@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;        
  }
  .page {
    margin: 0;
    border: 0;
    width: initial;
    min-height: initial;
    background: #fff;
    page-break-after: always;
  }
}*/

#page {
  font-family: "Courier Prime", "Courier", "Courier Final Draft", "Courier New";
  font-size: 14pt;
  width: 80%;
  padding: 10%
}

/* general */

.title_display, 
.act_display, 
.scene_display, 
.perso, 
.perso-d,
.char_list,
.didas { text-transform: uppercase }

.line, .didas { margin-bottom: 20pt}

.title_display, .scene_display, .act_display {
  font-weight: inherit;
  font-size: inherit;
  margin: inherit;
  margin: 12pt 0 12pt 0;
}

/* specific */

.title_display {
  text-decoration: underline;
  font-size: inherit;
  text-align: center;
}
.act_display {
	
}
.scene_display {
	
}
.char_list {
  margin-bottom: 32pt;
}

.didas { 

}
.line {
  width: 75%;
  margin-top: 0;
  margin-bottom: 18pt;
  margin-left: 17%;
  margin-right: 17%;
  clear: both;
}
.perso, .perso-d {
  margin-right: 1in;
  margin-left: 25%;
}

.perso, .perso + .didas, .perso-d, .repliq {
  display:block;
}
.perso-d + .didas {
  margin-left: 20%;
}
.perso-d + .didas::before {
  content:"("
}
.perso-d + .didas::after {
  content:")"
}

.repliq {
  max-width: 70%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15%;
  white-space: pre-wrap;
  orphans: 2;
  widows: 2;
}

.repliq .didas {
  margin:0
}



