@charset "utf-8";

/* RESET */
[hidden] {
  display: none;
}
html, body, div, span, p, a, kbd, label, nav, time {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  -ms-text-size-adjust: 62.5%;
}
*,html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:focus, a:active, a:hover {
  outline: 0;
}
button, input, select, textarea {
  margin: 0;
  vertical-align: baseline; 
  *vertical-align: middle; 
}
button, input {
  line-height: normal;
}
button, select {
  text-transform: none;
}
button:-moz-focus-inner, input:-moz-focus-inner {
  border: 0;
  padding: 0;
}
button, a, [type="checkbox"], label {
  cursor: pointer;
}
:-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
:selection {
  background: #b3d4fc;
  text-shadow: none;
}
select[multiple] option:checked {
  outline: 0
}
select[multiple] {
 background:none;
  width:auto;
  height:auto;
  padding:0;
  margin:0;
  border-width: 2px;
  border-style: inset;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  appearance: menulist;
}
html, body, .container {
  width: 100%;
  height: 100%;
}

/* FONTS */

@font-face {
  font-family: lemonmilk_lightregular;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/lemon.eot');
  src: local('LemonMilk light'), local('LemonMilk-Light'), url('../fonts/lemon.eot?#iefix') format('embedded-opentype'), url('../fonts/lemon.woff2') format('woff2'), url('../fonts/lemon.woff') format('woff'), url('../fonts/lemon.ttf') format('truetype');
}
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg"); 
}

.left, .left button, nav  { font-family: lemonmilk_lightregular }
input, #replik, #persos, #field_date, #field_infos, [data-descr]:after { font-family: sans-serif }
.drop.mep a { font-family: serif }


#field_date:before, 
#field_infos:before, 
#input_chkdidas + label:before, 
#input_chkdidas:checked + label:before, 
#input_chkdidas:checked ~ label:before,
#input_chkdidas:not(:checked) ~ label:before,
.fa {
  font-family: 'FontAwesome';
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} /* pas clean */

.fa-zoomin:before{ content:"\f010" }
.fa-zoomout:before{ content:"\f00e" }
.fa-print:before{ content:"\f02f" }
.fa-font:before{ content:"\f031" }
.fa-bold:before{ content:"\f032" }
.fa-eraser:before{ content:"\f87d" }
.fa-italic:before{ content:"\f033" }
.fa-superscript:before{ content:"\f12b" }
.fa-subscript:before{ content:"\f12c" }
.fa-align-left:before{ content:"\f036" }
.fa-align-center:before{ content:"\f037" }
.fa-align-right:before{ content:"\f038" }
.fa-align-justify:before{ content:"\f039" }
.fa-outdent:before{ content:"\f03b" }
.fa-indent:before{ content:"\f03c" }
.fa-arrows:before{ content:"\f047" }
.fa-strikethrough:before{ content:"\f0cc" }
.fa-underline:before{ content:"\f0cd" }
.fa-undo:before{ content:"\f0e2" }
.fa-redo:before{ content:"\f01e" }
.fa-expand:before{ content:"\f31e" }
.fa-compress:before{ content:"\f78c" }
.fa-plus:before{ content:"\f234" } 
.fa-minus:before{ content:"\f503" }
.fa-hr:before{ content:"\f068" } 
.fa-trash:before { content:"\f506" }
.fa-question-circle:before { content:"\f059" } 
.fa-file:before { content:"\f15c" }
.fa-stream:before { content:"\f550" }
.fa-insert:before { content:"\f56f" }
.fa-paragraph:before { content:"\f1dd" }
.fa-new:before { content:"\f15b" } 
.fa-open:before { content:"\f07c" } 
.fa-save:before { content:"\f0c7" }
.fa-print:before { content:"\f02f" }
.fa-close:before { content:"\f00d" }
.fa-tdm:before { content:"\f0e8" }
.fa-persos:before { content:"\f0c0" }
.fa-pencil:before { content:"\f5ad" }
.fa-pdf:before { content:"\f1c1" }
.fa-affichage:before { content:"\f302" }
.fa-copy:before { content:"\f0c5" }
.fa-define:before { content:"\f02b" }
.fa-book:before { content:"\f02d" }
#field_date:before { content:"\f073\00000a"}

/* GENERAL */

body {
  line-height: 1;
  overflow: hidden;
}
a {
  text-decoration: none;
}
input, button {
  font-size: 1.6rem;
}
[data-descr]:hover:after  {
  content: attr(data-descr);
  position: absolute;
  width: auto;
  border-radius: 4px;
  padding: 8px;
  z-index: 9999;
  background-color: #67B2E4;
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15);
  color: #fff;
  font-size: 1.6rem;
}
button[data-descr]:hover:after {
  right: 65px;
  top: inherit;
  white-space: nowrap;
}
kbd {
  display: inline-block;
  margin: .2em .1em;
  padding: .1em .6em;
  line-height: 1.4;
  color: #242729;
  font-family: Courier;
  text-shadow: 0 1px 0 #fff;
  background-color: #e1e3e5;
  border: 1px solid #adb3b8;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #fff inset;
  white-space: nowrap;
}
.container {
  display: grid;
  grid-template-columns: 343px 1fr;
  grid-template-rows: 35px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/********************************** MENU [START] **********************************/
nav {
  box-shadow: -4px 2px 2px 0px rgba(0,0,0,0.4);
  z-index:1000; /* pas clean */
  grid-area: 1 / 1 / 2 / 4; 
  font-size : 0;
}
nav a {
  font-size: 2rem;
  letter-spacing: 0.15rem;
}
.main {
  display: inline-block;
  position: relative;
  height: 100%;
  padding: 0px 10px;

}
.main:after {
  content : "";
  position: absolute;
  right: 0; top: 7px;
  width: 1px; height: 20px;
}
.last {
  position: absolute;
  top: 2px;
  right: 2px;
}
.last button {
  display: inline-block;
  top: 2px;
}
.main a {
  display: inline-block;
  height: 100%;
  line-height: 35px;
}
.main a[data-descr]:hover:after {
  top: 0; right: 0;
  transform: translateX(100%);
}
.main i {
  font-size: 1.9rem
}
.main:hover > .drop {
  display: block;
}
.drop {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
}
.drop a {
  display: block;
  height: 35px;
  padding: 0px 10px 0px 30px;
  white-space: nowrap;
}
.drop.mep a {
  height: auto;
  position: relative;
  line-height: 1;
  padding-top: 8px;
  padding-bottom: 8px;
}
.drop.mep a *, .last button span {
  pointer-events: none;
}

/*** DRAGGABLES ***/
.draggable {
  position: absolute;
  left: calc(100vw - 100px);
  padding: 0;
  border-radius: 5px;
  font-size:0;
}
.draggable.uno  {top:80px}
.draggable.dos  {top:350px; visibility: hidden}
.draggableheader { 
  cursor: move;
  height: 13px;
  border-radius: 5px 5px 0 0;
  margin-top: -2px
}
.draggable button, .last button {
  font-size: 1.8rem;
  width: 30px; height: 30px;
  background: transparent;
  border: 0;
  outline: none;
  transition: all .2s;
  padding: 4px
}
.draggable button:nth-last-of-type(2), .draggable button:last-of-type{
  border-bottom: 0
}

/*********************************** MENU [END] ***********************************/

/****************************** LEFT PANNEL [START] *******************************/

.left {
  display: block;
  padding: 4px 15px 0 15px ;
  text-align: center; 
  grid-area: 2 / 1 / 3 / 2;
}
.left > div {
  position: relative;
  border: 1px solid #aaa;
  border-radius:5px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 4px #999 inset;
  padding-top: 7px;
  letter-spacing: 2px;
  margin-top: 20px;
}
.left > div span {
  user-select: none;
  font-size: 1.6rem;
}
.left > div:nth-of-type(1) {
  text-align: right;
  padding-right: 5px;
  padding-bottom: 5px;
}
.left > div[data-descr]:hover:after {
  top: 0; left: 312px;
  overflow: hidden;
  white-space: pre;
  word-wrap: break-word;
}
#input_title, #input_author {
  border: 0;
  background-color: rgba(255,255,255,0.6);
  background-size: 100% 0.5rem;
  height: 2.5rem;
  width: 220px;
  padding-left: 8px;
  margin-right: 5px;
  margin-bottom: 8px;
}
#field_date {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  text-align: center;
  visibility: hidden;
}
#wordCounter {
  text-align: center;
  font-size: 1.3rem
}
#input_chkdidas_lab {
  font-size: 1.6rem;
}
#persos {
  font-size: 1.8rem;
  margin: 0; border: 0; 
  width: 100%;
  background-color: transparent;
  padding: 5px;
  font-variant-caps: small-caps;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-image: none;
}
#persos:-webkit-scrollbar { 
  width: 0; height: 0
}
.btnPersos {
  margin: 0;
  border-color: #888;
  border-style: dotted;
  width: 33.3%;
  padding: 3px;
  background: transparent;
  letter-spacing: 0.05rem;
}
.btnPersos span {
  font-size: 1.4rem;
  vertical-align: middle;
}
#btnCharAdd { 
  border-width: 1px 0 0 0; 
  border-radius: 0 0 0 5px;
}
#btnCharRemove { 
  border-width: 1px 1px 0 1px; 
}
#btnCharClear { 
  border-width: 1px 0 0 0; 
  border-radius: 0 0 5px 0;
}

#didasc, #input_author, #input_title {
  background-repeat: repeat-x;
  background-position: -1px bottom;
  border: none;
}
#didasc, #replik {
  position: relative;
  padding: 2px;
  width: 96%;
  background-color: rgb(255,255,255,0);
}
#didasc {
  padding: 4px 5px 4px 8px;
  margin-top: 10px;
  font-style: italic;
  background-size: 100% 5px;
}
#replik {
  padding: 8px 8px 0 8px;
  resize: none;
  overflow: auto;
  vertical-align: top;
  margin-top:5px
}

#input_chkdidas { display:none }
#input_chkdidas + label { letter-spacing: 0.0rem }
#input_chkdidas + label:before {
  display: inline-block;
  margin: 5px
}
#input_chkdidas + label:before { 
  content: "\f204";
  font-size: 1.8rem;
  letter-spacing: 3px;
  color: #EB6B56;
}
#input_chkdidas:checked + label:before { 
  content: "\f205";
  font-size: 1.8rem;
  color: #36B832;
}

#btnAddText {
  outline:0; 
  background-color: rgba(255,255,255,0.8);
  border: none;
  padding: 1em 0em;
  width: 80%;
  border-radius:5px;
  transition: all .1s ; 
}
#btnAddText:hover, #btnAddText:focus {
  margin: 1px 0 0 1px;
}
#btnAddText:focus{
  background: rgba(255,255,255,0.6);
}

/******************************* LEFT PANNEL [END] *******************************/

.right {
  display: block; position: relative;
  overflow: auto;
  grid-area: 2 / 2 / 3 / 3
}

#page {
  background: #fff url(../paper.png);   
  position: relative;  
  box-shadow: 0 0 .5cm rgba(0,0,0,0.5);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
  width: 80%; min-height: 100vh;
  margin: 10% auto; padding: 10%;
  margin-left: 10%;
  white-space: normal;
  overflow: hidden;
  transform-origin: 50% 0%;
  word-break: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: manual;
  -moz-hyphens: manual;
  counter-reset: line;
}

#page.frames .line, 
#page.frames .charlist, 
#page.frames .title, 
#page.frames .act,
#page.frames .scene, 
#page.frames .didas-bl {
  border:1px solid #f88;
}
#page.frames .perso { background: rgb(255,255,0,0.4) }
#page.frames .didas { background: rgb(255,0,255,0.25) }
#page.frames .repliq { background: rgb(0,255,0,0.15) }

.count .line { counter-increment: line 1 }
.count .line:before {
  content: counter(line);
  position: absolute;
  top: inherit; left: 5%;
  display: inline-block;
  color: #888;
}

#field_infos {
  position: fixed; z-index: 500;
  top: 65px; left: calc(50vw + 171px); 
  transform: translateX(-50%);
  min-height: 35px;
  padding: 10px 50px;
  opacity:0;
  transition: opacity .5s ease;
  pointer-events: none;
  font-size: 1.8rem;
  text-align: center;  
}
#field_infos:after {
  content:"\2715";
  display: block; position:absolute;
  width:20px; height:20px;	
  top: 2px; right: 2px;
}
#field_infos:before {
  content:"\f0eb";
  display: block; position:absolute;
  top: 50%; left: -45px;
  transform: translateY(-50%);
  font-size: 2.5rem;
}

/**************************** TABLE DES MATIÈRES *****************************/

.tdm {
  margin: 20px;
  text-align:left;
}
.tdm label {
  font-weight:bold
}
.tdm [type=checkbox] {
  display: none;
}
.tdm ul {
  padding: 0 0 0 30px;
  display: none;
  list-style: none;
}
.tdm ul:first-child {
  padding-left: 0;
}
.tdm li {
  padding: 0;
}
.tdm li span {
  margin: 2px 0;
  display: list-item;
  list-style: none;
}
.tdm li span:before {
  content: "\25B6"; 
  font-weight: bold; 
  display: inline-block; 
  width: 1.2em; 
  margin-left: -1em; 
}
.tdm label {
  display: inline-block;
  transition: 0.2s;
  padding-right: 10px;
  margin: 5px 0;
  height: 20px;
  line-height: 20px;
}
.tdm label:before {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
}
.tdm ul:first-child, .tdm [type=checkbox]:checked ~ ul {
  display: block;
}
.tdm [type=checkbox]:checked ~ label:before {
  content: "-";
}
.tdm [type=checkbox]:not(:checked) ~ label:before {
  content: "+";
}

/********************************************************/
/************************ COLORS ************************/
/********************************************************/

body {background: #90ccf4}
nav, .drop, .draggable {background: #333}  
nav a, .draggable button, .last button  {color: #efefef}
.drop a {border-bottom: 1px solid #777}
.main:after { background: #999 }
.main:hover, .drop a:hover { background: #77c }
.draggable button {border-bottom: 1px solid #aaa}
.draggableheader { background: #77c }
.draggable button:nth-of-type(odd) { border-right: 1px solid #aaa }
.draggable button:hover{ color: #555; background: #efefef }
.left { background: #f3d250; background: linear-gradient(to right, #f3d250 0%, #FFE26E 100%) }
#field_date { color: #666 }
select[multiple] option:checked { background: #90ccf4 linear-gradient(0deg, #90ccf4 0%, #90ccf4 100%) }
.btnPersos:hover, .btnPersos:focus { background : #b3d4fc }
#btnFilePDF { color:#F9B146 }
.right:-webkit-scrollbar { background: #F3D250 }
.right:-webkit-scrollbar-track { background: #90ccf4 }
.right:-webkit-scrollbar-thumb { background:#F3D250 } 
.right:-webkit-scrollbar-button { background:#f78888 }
#replik { border: 1px solid #90ccf4 }
#didasc, #input_author, #input_title { background-image: linear-gradient(to right, #90ccf4 2px, transparent 2px); border-bottom: 1px solid #90ccf4 }
#btnAddText { box-shadow: inset 0 -5px 0 0 rgba(0,0,0,.2), 1px 1px 0 0 #d98e20, 2px 2px 0 0 #d98e20, 3px 3px 0 0 #d98e20, 4px 4px 0 0 #d98e20, 5px 5px 0 0 #d98e20, 6px 6px 0 0 #d98e20 }
#btnAddText:hover, #btnAddText:focus { box-shadow: inset 0 -3px 0 0 rgba(0,0,0,.2), 1px 1px 0 0 #d98e20, 2px 2px 0 0 #d98e20, 3px 3px 0 0 #d98e20 }
.right { background: radial-gradient(circle, #ededed 0%, #90ccf4 100%) }
.tdm { color: #eee }
.tdm li span:before { color: #F3D250 }
.tdm label:before { background: #F3D250; color: #000 }

#field_infos {
  background: #67B2E4;
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15);
  color: #fff;
}
#field_infos:before { color: #67B2E4; text-shadow: #fff 0 0 10px , #fff 0 0 10px ,  #F3D250 0 0 30px }