.chapters {
  margin: 20px;
  font-family: Verdana;
  font-size: 14px;
  color: #9C27B0;
}
.chapters  [type=checkbox] {
  display: none;
}
.chapters  ul {
  padding: 0 0 0 40px;
  display: none;
  list-style: none;
}
.chapters  ul:first-child {
  padding-left: 0;
}
.chapters  li {
  padding: 0;
}
.chapters  li span {
  margin: 2px 0;
  display: list-item;
  list-style: square;
}
.chapters  label {
  display: inline-block;
  transition: 0.2s;
  padding-right: 10px;
  margin: 5px 0;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}
.chapters  label::before {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #9C27B0;
  color: #FFF;
}
.chapters  ul:first-child, .chapters  [type=checkbox]:checked ~ ul {
  display: block;
}
.chapters  [type=checkbox]:checked ~ label::before {
  content: "-";
}
.chapters [type=checkbox]:not(:checked) ~ label::before {
  content: "+";
}