
.perso, .perso-d, .repliq, .didas, .didas-f, .didas-b, .title_display, .act_display, .scene_display, .char_display{
 outline: 0;
}

.perso, .perso-d, .char_display {
  font-variant: small-caps
}
.perso::after {
  content:". – "
}
.perso-d::after {
  content:" – "
}
.didas, .didas-f, .didas-b {
  font-style: italic;
  color: #555;
  font-variant: none;
}
.didas::before {
  content:", "
}
.didas-b, .didas-b:after  {
  display: block;
}
.didas-b:after {
  content:"\a";
  white-space: pre
}
.perso, .repliq {
	display: inline
}
.line::first-letter {
	padding-left: 15pt;
}
.title_display, .act_display, .scene_display, .char_display {
  text-align: center
}

.char_display {
  margin-bottom: 30px;
}
