#page {
  font-family: Courier;
}
.perso, .perso-d, .scene_display, .didas-b {
  text-transform: uppercase;
}
.perso, .perso-d .didas, .repliq, .perso-d {
  text-align:center
}
 
.perso, .char_display {
  font-variant: small-caps;
  
}
.perso, .perso-d .didas {
  display:block;
}
.perso-d {
	display:block;
}
.perso-d .didas {
	text-transform: none;
}

.perso-d .didas::before {
  content:"("
}
.perso-d .didas::after {
  content:")"
}
.didas, .didas-f, .didas-b {
  color: #555;
  font-variant: none;
}

.didas-b {
  display: block;
}
.didas-b:after {
  content:"\a";
  display:block;
  white-space: pre
}
.line {
  margin-bottom: 15pt
}

.char_display {
  margin-bottom: 30px;
}
