@charset "utf-8";
@font-face {
  font-family: lemonmilk_lightregular;
  font-weight: normal;
  font-style: normal;
  src: url('fonts/lemon.eot');
  src: local('LemonMilk light'), local('LemonMilk-Light'), url('fonts/lemon.eot?#iefix') format('embedded-opentype'), url('fonts/lemon.woff2') format('woff2'), url('fonts/lemon.woff') format('woff'), url('fonts/lemon.ttf') format('truetype');
}

*,html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,body {
  width: 100%;
  height: 100%;
}
body {
  padding:0;
  margin:0;
  overflow:hidden;
   background: #ededed;
  background: radial-gradient(circle, #ededed 0%, #90ccf4 100%);
}
.parent {
  display: grid;
  grid-template-columns: 343px 1fr;
  grid-template-rows: 35px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height:100%;
}

nav { grid-area: 1 / 1 / 2 / 4 }
section .left { grid-area: 2 / 1 / 3 / 2 }
section .page  { grid-area: 2 / 2 / 3 / 3 }

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #fff;
    background-color: #e1e3e5;
    border: 1px solid #adb3b8;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #fff inset;
    white-space: nowrap;
}

/************************ MENU [START] ************************/
nav {
  background: #333;
  box-shadow: -4px 2px 3px 0px rgba(0,0,0,0.5);
  z-index:5;
}
nav a {
  color: #eee;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-family: lemonmilk_lightregular;
  letter-spacing: 1px;
}
.main {
  position: relative;
  height: 100%;
  width: auto;
  display: inline-block;
  padding: 7px 10px 0 10px;
  cursor: pointer;
}
.drop {
  display:none;
  background-color: #333;
  position:absolute;
  top: 35px;
  margin-left: -10px;
  cursor: pointer;
}
.drop.mep a {
  font-family: serif;
  text-transform: none;
  height:auto;
}
.drop a {
  display: block;
  white-space: nowrap;
  height: 35px;
  padding: 7px 10px 5px 30px;
  border-bottom: 1px solid #777
}
.main:after {
  content : "";
  position: absolute;
  right: 0;
  z-index: 100;
  top: 7px;
  width: 1px;
  height: 20px;
  background: #999;	
}
.main:hover, .drop a:hover {
  background-color: #77c
}
.main:hover > .drop {
  display: block;
}

#wysiwyg {
  display:inline;
  margin-left: 10px;
}

#wysiwyg button {
  font-size: 18px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: all .2s;
  color: #efefef;
}
#wysiwyg button:hover{
  color: #EB6B56;
}
#redo{
  transform: rotateY(180deg);
}

/************************ MENU [END] ************************/

/************************ LEFT PANNEL [START ] ************************/

.left {
  padding: 10px 15px 0 15px ;
  background-color: #F3D250;
  text-align:center;
  font-family: lemonmilk_lightregular;
}
#input_title, #input_author {
  border: 0;
  background-color: rgba(255,255,255,0.5);
  height: 25px;
  width: 210px;
  padding-left: 8px;
  margin-right:5px;
  margin-bottom: 8px;
}
#field_date {
  display: block;
  padding-bottom:30px;
  color: #666;
  font-size: 1em;
}
.left .right {
  text-align: right
}
.left input:focus {
  border: 1px dashed #800;
  background-color: rgba(255,255,255,0.9);
}
.cont_persos {
  border: 1px solid #777;
  border-radius:5px;
  background-color: rgba(255,255,255,0.8);
  box-shadow:0 0 5px #999 inset;
  text-align: center;
  padding-top: 4px;
  font-family: lemonmilk_lightregular;
  letter-spacing: 2px;
  margin-top:30px
}
#persos {
  margin: 0; border: 0;
  background-color: transparent;
  padding: 5px;
  font-variant: small-caps;
  font-family:sans-serif;
  font-size: 18px;
  overflow:hidden;
  scrollbar-width: none;
    -ms-overflow-style: none;
  background-image: none;
}
#persos::-webkit-scrollbar { 
  width: 0;height: 0
}
.but_perso{
  margin:0;
  width:33.3%;
  border:0;
  cursor:pointer;
  padding:3px;
  background-color:transparent;
  font-family:sans-serif;
  border-top: 1px dotted #888;
}
.but_perso:hover, .but_perso:focus {
  background-color: #5da2d5
}
#btnAddPerso{ border-width: 1px 0px 1px 1px; border-radius:0 0 0 5px;}
#btnRemovePerso{ border-left:1px dotted #888;border-right:1px dotted #888;}
#btnClearPerso{ border-width: 1px 1px 1px 0px; border-radius:0 0 5px 0;}
#btnAddText {
  outline:0; 
  font-size:1em;
  background-color: rgba(255,255,255,0.8);
  border:none;
  padding:1em 0em;
  width:80%;
  border-radius:5px;
  transition:all .1s ; 
  box-shadow:inset 0 -5px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20,
    3px 3px 0 0 #d98e20,
    4px 4px 0 0 #d98e20,
    5px 5px 0 0 #d98e20,
    6px 6px 0 0 #d98e20;
  cursor:pointer;
}
#btnAddText:hover{
  box-shadow:inset 0 -3px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20,
    3px 3px 0 0 #d98e20;
	margin-top:1px;
	margin-left:1px;
}
.left select, #didasc, #replik, #add{
  width: 100%;
}
#didasc {
  border: 1px solid #777;
  border-radius:5px;
  background-color: rgba(255,255,255,0.8);
  box-shadow:0 0 5px #999 inset;
  padding: 4px 5px 4px 8px;
  margin-top:40px;

}
#replik,#typeoftxt {
  background-color:transparent;
  border:0;
}
#replik {
	padding: 8px 8px 0 8px;
}

/************************ LEFT PANNEL [END] ************************/

/************************ PAGE CENTER [START] ************************/

.page {
  position: relative;
  padding: 7vh 5vw 30px 5vw;
  overflow: auto;
}
.page::-webkit-scrollbar {
  background: #F3D250;
}
.page::-webkit-scrollbar-track {
  background: #90ccf4; /*fond*/
}
.page::-webkit-scrollbar-thumb {
  background:#F3D250; /*barre*/
} 
.page::-webkit-scrollbar-button {
  background:#f78888; /*fleches*/
}
#page {
  padding:5% 10% 10% 10%;
  background: url(paper2.png);    
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 16pt;
  min-height: calc(100vh - 70px);
}

/************************ PAGE CENTER [END] ************************/

/************************ RIGHT PANNEL [START] ************************/
/*f78888*/



/************************ RIGHT PANNEL [END] ************************/

#status {
  text-align: center;
  background-color: #67B2E4;
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15);
  min-height: 35px;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  position: absolute;
  top: 20px;
  left:20%;
  right:20%;
  opacity:0;
  cursor:pointer;
  transition: opacity .5s ease;
  padding-top: 10px;
  padding-bottom: 10px;
  display:none;
}
#status::after {
  content:"\2715";
  display:block;
  position:absolute;
  top:0;
  right:2px;
  width:20px;
  height:20px;	
}
